<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- use a local package folder because we produce nuget packages which may end up having to be cleaned,
         and it's much easier to clean a local repository than the global nuget cache (in particular on bots) -->
    <add key="repositorypath" value=".packages" />
    <add key="globalPackagesFolder" value=".packages" />
  </config>
  <packageSources>
    <!-- <clear /> -->
    <add key="local" value="packages" />
  </packageSources>
  <disabledPackageSources>
  </disabledPackageSources>
</configuration>
